<%- include('./partials/header'); %>

<nav>
  <ul>
    <% for (const link of activeLinks) { %>
      <li>
        <a href="/<%= link %>"><%= link %></a>
      </li>
    <% } %>

    <% for (const link of inactiveLinks) { %>
      <li style="color: gray; cursor: not-allowed;">
        <%= link %>
      </li>
    <% } %>
  </ul>
</nav>

<%- include('./partials/footer'); %>
